p {
   margin: 0 0 0px;  
}

.btn{
	padding-top:1px;
}


.msg_card_section.shop .shop_panel{
	  min-height: 137px;
	  height:auto;
}

 


.daterangepicker .ranges input[type="text"]{
	  width: 85px !important;
}

.calendar{
	position: relative;
}
